# PLAN FOR THIS SECTION OF EDA:

- Normalizing for "per angler"
    - per angler per species per trip by location?
    - per angler per species per trip by trip_type?
    - per angler per species per month and how this trends?
- 

(tentative)
Sportfishing Report Exploratory Data Analysis
Scraped data details:
•	Location of landing (city)
•	Boat name
•	Trip type
•	Number of anglers on each trip
•	Number of fish caught (one species per line)
•	Species of fish caught
•	Released Y/N

In [1]:
#import packages and set wd to sportfishingreport_project folder
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

os.chdir("C:/Users/Kevin/Documents/Projects/Portfolio/sportfishingreport_project")

In [2]:
#import data from part 2
df_raw = pd.read_csv("sfr_data_cleaned_v2.csv")
df = df_raw.copy()

In [3]:
print('DF dimensions: \n', df.shape, '\n', sep = '')
print('DF columns: \n', df.columns, sep = '')

DF dimensions:
(63217, 16)

DF columns:
Index(['location', 'boat_name', 'trip_type', 'trip_num', 'date2', 'year',
       'month', 'day', 'day_of_week', 'anglers', 'released', 'restrictions',
       'catch_count', 'catch_species', 'restrictions_yn',
       'catch_species_general'],
      dtype='object')

In [8]:
#should be unduplicated trips, anglers should be all integers because all rows of same trip should have same # anglers
tot_anglers = df.groupby(['date2', 'location', 'boat_name', 'trip_type', 'trip_num']).mean()

In [ ]:
#per angler per species per trip
df_tripavg = df.groupby(['year', 'month', 'trip_type', 'released', ])

df = df.groupby('Name', as_index=False).agg(Sum1=('Missed','sum'), 
                                            Sum2= ('Credit','sum'),
                                            Average=('Grade','mean'))

In [6]:
df

,location,boat_name,trip_type,trip_num,date2,year,month,day,day_of_week,anglers,released,restrictions,catch_count,catch_species,restrictions_yn,catch_species_general
0,central coast,new horizon,full day trip,1,2020-01-01,2020,1,1,Wednesday,12,0,NaN,23.0,dungeness crab,0,crab
1,central coast,new horizon,full day trip,1,2020-01-01,2020,1,1,Wednesday,12,0,NaN,215.0,sanddab,0,sanddab
2,los angeles,native sun,3/4 day trip,1,2020-01-01,2020,1,1,Wednesday,21,0,NaN,25.0,sand bass,0,bass
3,los angeles,native sun,3/4 day trip,1,2020-01-01,2020,1,1,Wednesday,21,0,NaN,65.0,blacksmith perch,0,perch
4,los angeles,native sun,3/4 day trip,1,2020-01-01,2020,1,1,Wednesday,21,0,NaN,1.0,halibut,0,halibut
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63212,san diego,dolphin,1/2 day trip,1,2021-03-09,2021,3,9,Tuesday,16,0,NaN,4.0,sculpin,0,sculpin
63213,san diego,dolphin,1/2 day trip,1,2021-03-09,2021,3,9,Tuesday,16,0,NaN,6.0,sheephead,0,sheephead
63214,san diego,dolphin,1/2 day trip,1,2021-03-09,2021,3,9,Tuesday,16,0,NaN,1.0,calico bass,0,bass
63215,san diego,dolphin,1/2 day trip,1,2021-03-09,2021,3,9,Tuesday,16,0,NaN,88.0,rockfish,0,rockfish
63216,san diego,premier,1/2 day trip,1,2021-03-09,2021,3,9,Tuesday,11,0,NaN,NaN,NaN,0,NaN